$border-radius:     2rem;

/*
 * Toggle button styles
 */
.toggle-button {
    
    position: relative;
    display: inline-block;
    color: #fff;
    
    label {
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        text-align: left;
    }

    input {
        display: none;
    }
    
    &__icon {
        cursor: pointer;
        pointer-events: none;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 45%;
            left: 35%;
            transition: 0.2s ease-out;
        }
    }

}