/*
 * Toggle button variables
 */
$background-on:     #61B136;
$background-off:    #FF5335;

$border-radius:     2rem;

$icon-bg:           #fff;

$height:            50px;
$width-on:         120px;
$width-off:        120px;


/*
 * Toggle button styles
 */
.toggle-button--aava {

    label {
        height: $height;
        line-height: $height;
        transition: all 0.2s;
        border-radius: $border-radius;
        
        &:before,
        &:after {
            position: absolute;
            right: 1.5rem;
            transition: all 0.2s .1s ease-out;
        }

        &:before {
            content:attr(data-on-text);
        }
        &:after {
            content:attr(data-off-text);
        }
    }

    input[type=checkbox] + label {
        width: $width-off;
        background: $background-off;
        
        &:before {
            opacity: 0;
            transform: translate(0, 20px);
        }
        &:after {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    input[type=checkbox]:checked ~ label {
        width: $width-on;
        background: $background-on;

        &:before {
            opacity: 1;
            transform: translate(0, 0);
        }
        &:after {
            opacity: 0;
            transform: translate(0, -20px);
        }

    }

    input[type=checkbox]:checked ~ .toggle-button__icon {

        &:before {
            transform: translate(-10%, 100%) rotate(45deg);
            width: $height/3;
        }
        &:after {
            transform: translate(30%) rotate(-45deg);
        }

    }

    .toggle-button__icon {
        position: absolute;
        left: 0;
        top: 0;
        height: $height;
        width: $height;

        &:before,
        &:after {
            height: 3px;
            border-radius: 3px;
            background: $icon-bg;
            box-shadow: 0 1px 0 rgba(0,0,0,0.1);
        }

        &:before {
            width: $height/2;
            transform: rotate(45deg);
        }
        &:after  {
            width: $height/2;
            transform: rotate(-45deg);
        }
        
    }
}